body{
font-family: sans-serif;
background-color: #f0f0f0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.menu-container{
    display: flex;
    gap: 20px;
}

.btn-cuadrado {
width: 200px;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 24px;
text-decoration: none;
font-weight: bold;
transition: transform 0.2s;
}

.btn-morado{
    background-color: #a020f0;
}

.btn-verde{
    background-color: #9acd32;
}

.btn-cuadrado:hover{
    transform: scale(1.05);
}

.form-container{
background-color: white;
padding: 30px;
border-radius:  8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
width: 400px;
text-align: center;
}

input{
width: 100%;
padding: 10px;
margin: 10px 0;
box-sizing: border-box;
border-radius: 4px;
}

label{
display: block;
text-align: left;
color: #666;
margin-top: 10px;
}

.btn-blue{
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 20px;
font-size: 16px;
}